body{
   background-color:aqua;
   max-width: 960px;
}

header{
    text-align: center;
    font-weight: bold;
    max-height: 150px;
    background-color: bisque;

}

main{
    max-width: 75%;
    float: right;
    
}
aside{
    max-width: 25%;
    float: left;

}