
body{
    background-color: #3c6760;
    max-width: 1120px;
    height: 100%;
    margin: 0;
 }
 html {
    height: 100%;
    margin: 0;
}

.bg {
    /* The image used */
    background-image: url("../images/globeimage.jpeg");

    /* Full height */
    height: 50%; 

    /* Center and scale the image  */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    /*  font info */
    color: white;
           
}
 
.bottom-text {
    padding-left: 10px;
    font-size: 48px;
    font-weight: bold;
}
  
.nav-item {
    color: black;
    font-weight: bold;
    border: 4px sienna ridge;
    background-image: url("../images/paper-1074131_1280.jpg");
}
 


.tab-content {
    background-color: #3c6760;
    padding-top: 10px;
    padding-bottom: 10px;
}
 
div .card {
    background-color: #3c6760;
}

div .card-header {
    background-color: #c7ca93;
        
}

div .card-text  {
    margin: 1px;
    text-align: center;
    background-image: url("../images/paper-1074131_1280.jpg");
    min-height: 150px;
    font-weight: bold;
    padding: 5px;
    
}

.card-title {
    background-color: #7fd1c3;
    padding: 2px;
}

.text-left, h5 {
    background-image: url("../images/paper-1074131_1280.jpg");
    
}

.card-body {
    margin-bottom: 2px;
    background-image: url("../images/paper-1074131_1280.jpg");
    padding-right: 10px;
    padding-left: 10px;
}

.active {
    background-color: #ecc693;
}
.footer {
    color: white;
    margin: 10px;
    font-size: x-small;
}