body{
    background-color:aqua;
    max-width: 1120px;
    height: 100%;
    margin: 0;
 }
 html {
  height: 100%;
  margin: 0;
}
 
 header{
     font-weight: bold;
     max-width: 100%;
     height: 50%;
     background-color:#dee2f7;
     background-image: url("../images/shining-3182654_1920.png");
     background-repeat: repeat-y;
     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
 }
 
 .indexTitle {
   text-align: center;
   padding: 30px;
   font-size: 60px;
   color: #fbff00;
   text-shadow: 5px 5px rgb(155, 160, 109);
   }

.indexText {
  background-color:rgb(249, 177, 236, 0.5);
  margin: 30px;
}

.browse {
  text-align: center;
}
#browseButton {
background-color: #fbff00;
border-radius: 20px;
margin: 10px;
max-width: 75%;
}

.contents {
  background-color: aqua;
}
.participant, .admin {
  border: 2px solid #31B404;
  border-radius: 20px;
  margin: 10px;
  padding: 10px;
  max-width: 45%;
  background-color:rgb(249, 177, 236, 0.5);
  margin-top: 20px;
}

h2 {
  text-align: center;
  color: #fbff00;
}

input {
width: 75%;
text-align: center;
}

.footer {
  padding: 1rem;
  background-color: #7bf7af;
  text-align: center;
}

#emailSubmit {
  margin: 30px;
  background-color: #fbff00;
  border-radius: 20px;
}
.emailsend {
  text-align: center;
}

.inputFields {
  margin: auto;
}