body{
    background-color:aqua;
    max-width: 1120px;
    height: 100%;
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
 }
 html {
  height: 100%;
  margin: 0;
}
 
 .header{
     font-weight: bold;
     max-width: 100%;
     padding-bottom: 10px;
     background-color:#dee2f7;
     background-image: url("../images/shining-3182654_1920.png");
     background-repeat: repeat-y;
     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
 }
 
 .indexTitle {
   text-align: center;
   padding: 30px;
   font-size: 60px;
   color: #fbff00;
   text-shadow: 5px 5px rgb(155, 160, 109);
   }

.indexText {
  background-color:rgb(249, 177, 236, 0.5);
  margin: 30px;
}

.nav {
  text-align: center;
  padding: 5px;
  font-size: 16px;
  color: orange;
  margin: 5px;
}

.browse {
  text-align: center;
}
#browseButton, .saveData, #retrieveGroup {
background-color: #fbff00;
border-radius: 20px;
margin: 10px;
max-width: 75%;
font-size: large;
}

.contents {
  background-color: aqua;
  max-width: 100%;
}
div .participant, div .admin {
  border: 2px solid #31B404;
  border-radius: 20px;
  padding: 10px;
  background-color:rgb(249, 177, 236, 0.5);
  margin-top: 15px;
}

.card-title {
  text-align: center;
  color: #fbff00;
  text-shadow: 3px 3px rgb(155, 160, 109);
}


.footer {
  padding: 1rem;
  background-color: #7bf7af;
  text-align: center;
}

#partSubmit, #adminSubmit {
  margin: 15px;
  background-color: #fbff00;
  border-radius: 20px;
  width: 100px;
}

div .emailsend {
  text-align: center;
  justify-content: center;
}

.tableData {
  background-color: bisque;
}
